.thumb{
	background: #dddddd;
	padding:3px;
}
.thumb img{
	border:1px solid white;
/**
	height: 60px;
	width: 80px;
*/	

	width: 100px;
}
.thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
.thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
}

.x-view-selected .thumb{
	background:#8db2e3;
}