/*----------------------------------------------*/
/*                   Top Menu                   */
/*----------------------------------------------*/
#mstudio button {
	font-family: 'Waiting for the Sunrise', serif !important; 
	font-weight: bold;
}
/* "Studio" menu icons */
.icon-studio{background:url('/appFlowerStudioPlugin/images/studio.png') no-repeat center left !important;}
.icon-studio-project{background:url('/appFlowerStudioPlugin/images/application.png') no-repeat center left !important;}
.icon-studio-create-project{background:url('/appFlowerStudioPlugin/images/application_add.png') no-repeat center left !important;}
.icon-studio-load-project{background:url('/appFlowerStudioPlugin/images/application_get.png') no-repeat center left !important;}
.icon-studio-export-project{background:url('/appFlowerStudioPlugin/images/application_put.png') no-repeat center left !important;}
.icon-studio-export-project-source{background:url('/appFlowerStudioPlugin/images/script_go.png') no-repeat center left !important;}
.icon-studio-export-project-sql{background:url('/appFlowerStudioPlugin/images/database_go.png') no-repeat center left !important;}
.icon-studio-recent-projects{background:url('/appFlowerStudioPlugin/images/application_cascade.png') no-repeat center left !important;}
.icon-studio-settings{background:url('/appFlowerStudioPlugin/images/cog.png') no-repeat center left !important;}
.icon-studio-help{background:url('/appFlowerStudioPlugin/images/help.png') no-repeat center left !important;}

/* "Theme" menu icons */
.icon-theme{background:url('/appFlowerStudioPlugin/images/application_view_icons.png') no-repeat center left !important;}
.icon-theme-selector{background:url('/appFlowerStudioPlugin/images/application_side_boxes.png') no-repeat center left !important;}
.icon-theme-designer{background:url('/appFlowerStudioPlugin/images/application_view_gallery.png') no-repeat center left !important;}

/* "Tools" menu icons */
.icon-tools{background:url('/appFlowerStudioPlugin/images/wrench-screwdriver.png') no-repeat center left !important; width: 16px;}
.icon-tools-console{background:url('/appFlowerStudioPlugin/images/application_xp_terminal.png') no-repeat center left !important;}
.icon-tools-git{background:url('/appFlowerStudioPlugin/images/git.png') no-repeat center left !important; width: 16px;}
.icon-tools-snapshot{background:url('/appFlowerStudioPlugin/images/snapshot.png') no-repeat center left !important;}
.icon-code-editor{background:url('/appFlowerStudioPlugin/images/application_side_tree.png') no-repeat center left !important;}

/* "Debug" menu icons */
.icon-debug{background:url('/appFlowerStudioPlugin/images/bug.png') no-repeat center left !important;}
.icon-debug-run{background:url('/appFlowerStudioPlugin/images/bug_go.png') no-repeat center left !important;}
.icon-debug-auditlog{background:url('/appFlowerStudioPlugin/images/user_gray.png') no-repeat center left !important;}

/* "Run" menu icons */
.icon-runs{background:url('/appFlowerStudioPlugin/images/server_go.png') no-repeat center left !important;}
.icon-run-run{background: url('/appFlowerStudioPlugin/images/application_go.png') no-repeat 0 0 !important;}
.icon-run-rebuild{background: url('/appFlowerStudioPlugin/images/arrow_refresh.png') no-repeat 0 0 !important;}
/*----------------------------------------------*/
/*                END of Top Menu               */
/*----------------------------------------------*/

/* Notification icons */
.icon-notification-error  {background: url("/appFlowerStudioPlugin/images/error.png") no-repeat center left !important;}
.icon-notification-info  {background: url("/appFlowerStudioPlugin/images/information.png") no-repeat center left !important;}
.icon-notification-warning  {background: url("/appFlowerStudioPlugin/images/warning.png") no-repeat center left !important;}


.icon-database-save{background:url('/appFlowerStudioPlugin/images/database_save.png') no-repeat center left !important;}
.icon-application-split{background:url('/appFlowerStudioPlugin/images/application_split.png') no-repeat center left !important;}

.icon-models{background:url('/appFlowerStudioPlugin/images/application_view_tile.png') no-repeat center left !important;}
.icon-model{background:url('/appFlowerStudioPlugin/images/table.png') no-repeat center left !important;}

.icon-models-add{background:url('/appFlowerStudioPlugin/images/table_add.png') no-repeat center left !important;}
.icon-pages-add{background:url('/appFlowerStudioPlugin/images/page_white_add.png') no-repeat center left !important;}
.icon-widgets-add{background:url('/appFlowerStudioPlugin/images/brick_add.png') no-repeat center left !important;}

.icon-models-delete{background:url('/appFlowerStudioPlugin/images/table_delete.png') no-repeat center left !important;}
.icon-models-edit{background:url('/appFlowerStudioPlugin/images/table_edit.png') no-repeat center left !important;}
.icon-console{background:url('/appFlowerStudioPlugin/images/application_xp_terminal.png') no-repeat center left !important;}

.icon-models-set_as_homepage{background:url('/appFlowerStudioPlugin/images/application_home.gif') no-repeat center left !important;}

.icon-add{background:url('/appFlowerStudioPlugin/images/add.png') no-repeat center left !important;}
.icon-edit{background:url('/appFlowerStudioPlugin/images/pencil.png') no-repeat center left !important;}
.afs-icon-delete{background:url('/appFlowerStudioPlugin/images/delete.png') no-repeat center left !important;}
.icon-folder{background: url('/appFlowerStudioPlugin/images/folder.gif') no-repeat 0 0 !important;}
.icon-folder-open{background: url('/appFlowerStudioPlugin/images/folder-open.pgif') no-repeat 0 0 !important;}
.icon-obj{background: url('/appFlowerStudioPlugin/images/application.png') no-repeat 0 0 !important;}

.icon-users{background: url('/appFlowerStudioPlugin/images/user_green.png') no-repeat 0 0 !important;}
.icon-dbquery{background: url('/appFlowerStudioPlugin/images/computer.png') no-repeat 0 0 !important;}

.icon-sql{background: url('/appFlowerStudioPlugin/images/script_code.png') no-repeat 0 0 !important;}
.icon-tree-table{background: url('/appFlowerStudioPlugin/images/table.png') no-repeat 0 0 !important;}
.icon-tree-db{background: url('/appFlowerStudioPlugin/images/server_database.png') no-repeat 0 0 !important;}

.icon-logs{background: url('/appFlowerStudioPlugin/images/chart_line.png') no-repeat 0 0 !important;}
.icon-preview{background: url('/appFlowerStudioPlugin/images/zoom.png') no-repeat 0 0 !important;}
.icon-format{background: url('/appFlowerStudioPlugin/images/layout_content.png') no-repeat 0 0 !important;}

.icon-data{background: url('/appFlowerStudioPlugin/images/database.png') no-repeat 0 0 !important;}
.icon-data-add{background: url('/appFlowerStudioPlugin/images/database_add.png') no-repeat 0 0 !important;}

.icon-field{background: url('/appFlowerStudioPlugin/images/textfield.png') no-repeat 0 0 !important;}
.icon-field-add{background: url('/appFlowerStudioPlugin/images/textfield_add.png') no-repeat 0 0 !important;}

.icon-action{background: url('/appFlowerStudioPlugin/images/package_green.png') no-repeat 0 0 !important;}
.icon-action-add{background: url('/appFlowerStudioPlugin/images/package_add.png') no-repeat 0 0 !important;}

.icon-validator{background: url('/appFlowerStudioPlugin/images/tag_blue.png') no-repeat 0 0 !important;}
.icon-validator-add{background: url('/appFlowerStudioPlugin/images/tag_blue_add.png') no-repeat 0 0 !important;}

.icon-table-relationship{background:url('/appFlowerStudioPlugin/images/table_relationship.png') no-repeat center left !important;}
.table-key{background:url('/appFlowerStudioPlugin/images/table_key.png') no-repeat center left !important;}
.icon-accept{background:url('/appFlowerStudioPlugin/images/accept.png') no-repeat center left !important;}
.icon-application-form{background:url('/appFlowerStudioPlugin/images/application_form.png') no-repeat !important;}
.afs-icon-cancel{background:url('/appFlowerStudioPlugin/images/cancel.png') no-repeat center left !important;}


.icon-databases{background:url('/appFlowerStudioPlugin/images/databases.gif') no-repeat center left !important;}
.icon-bricks{background:url('/appFlowerStudioPlugin/images/bricks.png') no-repeat center left !important;}
.icon-layout{background:url('/appFlowerStudioPlugin/images/layout.gif') no-repeat center left !important;}
.icon-layout_content{background:url('/appFlowerStudioPlugin/images/layout_content.gif') no-repeat center left !important;}

.icon-table-gear{background:url('/appFlowerStudioPlugin/images/table_gear.png') no-repeat center left !important;}
.icon-database-table{background:url('/appFlowerStudioPlugin/images/database_table.png') no-repeat center left !important;}

.icon-script-edit{background:url('/appFlowerStudioPlugin/images/script_edit.gif') no-repeat center left !important;}

.icon-af-plugin{background:url('/appFlowerStudioPlugin/images/plugin.png') no-repeat center left !important;}
.icon-plugin-add{background:url('/appFlowerStudioPlugin/images/plugin_add.png') no-repeat center left !important;}

/* ModelDetailedEditing Grid */
.model-pk-hd {
	background:url('/appFlowerStudioPlugin/images/table_key.png') no-repeat !important;
	padding:2px 0 4px 14px;
	display: inline;	
}
.pk-cell, .unique-cell, .index-cell {
	height: 16px;
}
.pk-cell {
	background:url('/appFlowerStudioPlugin/images/key.png') no-repeat center center !important;
}
.unique-cell {
	background:url('/appFlowerStudioPlugin/images/unique-index.png') no-repeat center center !important;	
}
.index-cell {
	background:url('/appFlowerStudioPlugin/images/application_lightning.png') no-repeat center center !important;
}

/* RelationCombo */
.x-form-relation-trigger {
	background:url('/appFlowerStudioPlugin/images/table_relationship.png') no-repeat center center !important;
	border-width: 1px;
}

/* GroupingComboBox */
.x-combo-list-group	{
	font: bold 12px tahoma,arial,helvetica,sans-serif;
	padding: 2px;
	border: 1px solid #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.redborder{
	border: 1px solid red;
}

.greenborder{
	border: 1px solid green;
}

.icon-file-save{background: url('/appFlowerStudioPlugin/images/script_save.png') no-repeat 0 0 !important;}
.icon-file-close{background: url('/appFlowerStudioPlugin/images/script_go.png') no-repeat 0 0 !important;}
.icon-file-close-others{background: url('/appFlowerStudioPlugin/images/script_lightning.png') no-repeat 0 0 !important;}

/* project wizard */
.guide_header {
  overflow: hidden;
  font-family: Arial, Tahoma, "sans-serif";
}

.guide_header .date_cover {
  float: left;
  border: 1px solid #7b97bd;
}

.guide_header .date_cover div {
  padding: 5px;
  background: #99bbe8;
  border-top: 1px solid #ccddf4;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px -1px 1px #648bc5;
}

.guide_header h2 {
  float: left;
   width: 90%;
  margin-left: 10px;
  color: #000;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
}

/* Theme builder */
.icon-tb-menu {background: url('/appFlowerStudioPlugin/images/tag.png') no-repeat 0 0 !important;}
.icon-tb-menu-item {background: url('/appFlowerStudioPlugin/images/tag_blue.png') no-repeat 0 0 !important;}
.icon-tb-menu-btn {background: url('/appFlowerStudioPlugin/images/tag_orange.png') no-repeat 0 0 !important;}
.icon-tb-menu-tool {background: url('/appFlowerStudioPlugin/images/tag_green.png') no-repeat 0 0 !important;}
